<main class="main">
  <div class="container">
    <h3>CSV Analyzer</h3>

    <br />

    <div class="upload-box">
     <!--  <input type="file" accept=".csv" /> -->
       <section>
         <input type="file" accept=".csv" hidden #fileInput (change)="onFileSelected($event)" />
        <p *ngIf="file">
          Archivo seleccionado:
          <i> {{ file.name }}</i>
        </p>
       </section>
      <section>
        <div class="example-button-row">
          <button matButton="elevated" (click)="fileInput.click()">Seleccionar Archivo</button>
          <button matButton="filled" (click)="onUpload()">Leer Archivo</button>
        </div>
      </section>
    </div>

     <br>

    <table *ngIf="data.length > 0" border="1">

  <thead>
    <tr>
      <th>Folio</th>
      <th>Fecha</th>
      <th>Categoría</th>
      <th>Monto</th>
      <th>Estatus</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let item of data">

      <td>{{ item.Folio }}</td>
      <td>{{ item.Fecha }}</td>
      <td>{{ item.Categoria }}</td>
      <td>{{ item.Monto }}</td>
      <td>{{ item.Estatus }}</td>

    </tr>

  </tbody>

</table>

    <br />
  </div>
</main>
